*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*-------------------------------------------
header
-------------------------------------------*/
header{
  position: fixed;
  width: 100%;
  display: flex;
  padding: 0 16px;
  color: white;
  background: black;
  z-index: 1;
}
header a{
 margin: 0;
  font-size: 16px;
  line-height: 64px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
header a:hover{
  color: yellow;
}
.sp-menu > .material-icons{
  padding-right: 32px;
  margin: 0;
}
.pc-menu{
  display: none;
}
/*-------------ハンバーガーメニュー------------*/
.sp-menu{
  margin-left: auto;
}
.sp-menu #open{
  font-size: 30px;
  line-height: 64px;
  cursor: pointer;
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(240, 237, 237, 0.95);
  text-align: center;
  padding-right: 16px;
  padding-top: 48px;
  margin-left: 80%;
  height: 200px;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
  z-index: 1;
}
.overlay #close{
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}
.overlay ul{
  list-style: none;
  font-size: 22px;
  line-height: 44px;
  padding: 10px 20px;
  font-weight: bold;
  margin-left: 16px;
}
.overlay li{
  opacity: 0;
  transform: translateY(-32px);
  transition: opacity 0.3s,transform 0.5s ;
}
.overlay.show li{
  opacity: 1;
  transform: none;
}
.overlay a{
  text-decoration: none;
  color: black;
}
.overlay a:hover{
  color: yellow;
  cursor: pointer;
}


/*---------------header,js------------*/
.overlay.show{
  opacity: 1;
  pointer-events: auto;
  }
.sp-menu #open.hide{
  display: none;
}

/*-------------------------------------------
top img
-------------------------------------------*/
#pic img{
  opacity: 0.9;
  height: 750px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;/* インライン要素がベースラインに配置されているため余白ができる */
}

#pic{
  position: relative;
}
#pic h1{
  display: block;
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
#pic h1 span{
  position: absolute;
  margin-top: 10px;
  top: 105%;
}

/*-------------------------------------------
profile
-------------------------------------------*/
#profile{
  height: 100%;
  padding-bottom: 50px;
}
#profile h2{
  padding: 70px 5px 0 5px;
  font-size: 30px;
  width: 110px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
#profile p{
  width: 80%;
  margin: 0 auto;
}
.profile-img {
  margin: 50px 0 30px 0;
  width: 100%;
  text-align: center;
}
.profile-img img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
/*-------------------------------------------
スキル
-------------------------------------------*/
#skill{
  background: linear-gradient(rgb(122, 226, 252),rgb(174, 174, 250));
  text-align: center;
  padding: 70px 0;
}
#skill h2{
  display: inline;
  font-size: 30px;
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
#skill  p{
  width: 85%;
  margin: 0 auto;
  text-align: left;
  padding: 50px 0 30px;
}
#skill h3{
  padding-bottom :20px;
}
#skill h4{
  display: inline;
  border-bottom: 1px solid black;
}
.skill-content{
  margin: 0 auto 10px;
  width: 70%;
  border: 2px solid rgb(180, 178, 178);
  background: white;
  border-radius: 4px;
  padding: 20px;
}
.skill-items{
  text-align: left;
}
.skill-items ul{
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5em;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
}
/*-------------------------------------------
ワーク
-------------------------------------------*/
#work{
  background: linear-gradient(rgb(255, 255, 168),rgb(191, 255, 170));
  text-align: center;
  padding: 70px 0;
}
#work h2{
  display: inline;
  font-size: 30px;
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(51, 51, 51);
}
#work p{
  width: 70%;
  text-align: left;
  margin: 30px auto;
}
#work h3{
  display: flex;
  align-items: center;
}
#work h3::after,
#work h3::before{
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #666;
}
#work h3::after{
  margin-right: 5%;
}
#work h3::before{
  margin-left: 5%;
}
.copysite-items img{
  width: 60%;
  height: 150px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.603);
}
.copysite-items h4{
  margin: 10px 0 30px;
}
.copysite-items img:hover{
  cursor: pointer;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.651);
  transform: translate(-2px,-2px);
  transition-duration: 0.3s;
}
/* ----------ワーク詳細-------------- */
#mask{
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#mask.hidden{
  display: none;
}
#mask:hover{
  cursor: pointer;
}
.modal.hidden{
  transition: 0.3s;
  transform: translate(0, -1000px);
}
.modal{
  background: rgb(235, 232, 232);
  width: 60%;
  height: 80%;
  padding: 30px;
  padding-bottom: 0;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid black;
  z-index: 2;
  overflow-y: scroll;
  transition: 0.5s;
}
.modal-items{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
}
.modal-items img{
  width: 90%;
  margin: 30px 10px 0;
  object-fit: cover;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.603);
}
.modal-items img:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.651);
  transform: translate(-2px,-2px);
  transition-duration: 0.3s;
}
.modal-items a{
  font-size: 14px;
  margin-top: 5px;
}
.modal-items a:hover{
  opacity: 0.8;
}
.modal-contents h3{
  margin: 0;
  margin-bottom: 5px;
}
.modal-contents p{
  margin: 0;
  margin-bottom: 30px;
}
.lang-border{
  display: flex;
  align-items: center;
}
.lang-border::before,
.lang-border::after{
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #666;
}
.lang-border::before{
  margin-right: 10px;
}
.lang-border::after{
  margin-left: 10px;
}
.close{
  width: 50%;
}
.material-icons{
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
.material-icons:hover{
  cursor: pointer;
  color: yellow;
}


/*-------------------------------------------
お問い合わせ
-------------------------------------------*/
#contact{
  text-align: center;
  padding: 70px 0 50px;
  background: lightgray;
}
#contact h2{
  display: inline;
  font-size: 30px;
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
#contact > p{
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding: 50px 0 30px;
}

#contact img{
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
}
#contact button{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  width: 120px;
  height: 40px;
  background: blue;
  color: white;
  border: white 2px solid;
  border-radius: 20px;
}
#contact button a{
  text-decoration: none;
  color: white;
}
#contact button:hover{
  background: red;
  cursor: pointer;
}
#contact img:hover{
  background: yellow;
  cursor: pointer;
}
/* ----------最後の言葉-------------- */
#finish{
  text-align: center;
  background: rgba(4, 163, 155, 0.473);
  height: 650px;
  padding-bottom: 20px;
}
#finish h2{
  font-size: 20px;
  margin: 0 28px;
  padding-top: 300px;
  padding-bottom: 200px;
  color: white;
}
#finish .material-icons{
  color: black;
  padding: 10px;
  background: white;
  font-size: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;

}
#finish .material-icons:hover{
  background: yellow;
}
#finish a{
  text-decoration: none;
}
#finish h2::after{
  content: 'Thank you for your time.';
  font-size: 0.7em;
  display: block;
} 




/*-------------------------------------------
PC表示
-------------------------------------------*/
@media(min-width: 750px){

/* ----------------heder------------------ */
  .pc-menu{
    display: block;
    margin-left: auto;
  }
  .pc-menu ul{
    list-style: none;
    margin: 0;
    display: flex;
    margin-right: 30px;
  }
  .pc-menu a{
    font-size: 20px;
    display: block;
    width: 90px;
    line-height: 64px;
    font-weight: bold;
    text-align: center;
  }
  .pc-menu a{
    text-decoration: none;
    color: white;
  }
  .pc-menu a:hover{
    color: yellow;
    cursor: pointer;
  }
  .sp-menu{
    display: none;
  }





/* ----------------top img---------------- */
  #pic h1{
    left: 5%;
    top: 65%;
    font-size: 60px;
  }
  #pic img{
    height: 850px;
  }
/* -----------------profile -------------*/

  .profile-flame{
    display: flex;
    margin: 50px;
    padding: 0 20px;
  }
  .profile-img {
    margin: 0;
    width: 450px;
  }
  .profile-img img{
    width: 250px;
    height: 250px;
    margin: 0 50px;
    padding-top: 30px;
  }
  #profile p{
    width: 600px;
    padding: 40px 0;
    margin-left: 40px;
  }
/* ------------skill--------------*/

.skill-flame1{
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.skill-flame2{
  width: 90%;
  margin: 10px auto;
  display: flex;
}
.skill-box{
  margin: 0 5px;
}

/* ------------work--------------*/
.copysite-items{
  display: flex;
  justify-content: center;
  width: 70%;
  font-size: 12px;
  margin: 0 auto;
}
.copysite-items img{
  width: 250px;
  height: 180px;
}
.copysite-items .item2 img{
  margin: 0 20px;
}
.modal{
  width: 50%;
}
#work h3::after,
#work h3::before{
  width: 30%;
}
/* ------------finish--------------*/
#finish h2{
  font-size: 28px;
}



}